html{
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	font-size: 16px;
}

body{
	padding: 20px;
}

*,*:before, *:after {
	box-sizing: inherit;
}


.main-content{
	width: 700px;
	height: 500px;
	box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
	overflow: hidden;
}

.upper{
	width:100%;
	height: 45%;
	padding: 25px;
}

.bottom{
	width:100%;
	height: 55%;
	color: white;
}

.lower-left{
	background-color: #29aeab;
}

.lower-right{
	background-color: #1ac9c5;
}

.lower-left, .lower-right{
	width:50%;
	height: 100%;
	display: inline-block;
	vertical-align: text-top;
	padding: 25px;
}


.lower-left h4 {
	margin-bottom: 25px;
}

.price-freq, .price {
	display: inline-block;
}

.price-freq{
	position: relative;
	top:-3px;
	font-size: 0.8rem;
	opacity: 0.8;
	margin-left: 5px;
}

.lower-left,p {
	font-size: 0.9rem;
	margin-bottom: 50px;
}


/* TEXT COLOR */
.upper h2 {
	color:#29aeab;
	margin-bottom: 20px;
}

.upper h4 {
	color:#bfde35;
	margin-bottom: 10px;
}

.upper p {
	color:#98a6bd;
}

button {
	color:white;
	background-color:#bfde35;
	border: none;
	border-radius: 5px;
	padding:10px;
	width:100%;
	box-shadow: 2px 3px 2px 0px rgba(0,0,0,0.75);
}
button:hover {
	cursor:pointer;
	background-color:#A9C42D;
	transform: scale(1.02);
}

.price {
	font-weight: 700;
	font-size : 1.4rem;
}




ul {
	padding: 0;
	list-style: none;
	font-size: 0.9rem;
	opacity: 0.8;
}


/*
cyan - #29aeab / #28b8b4
bright yellow - #bfde35
light gray - #e2ecf3
grayish blue - #98a6bd
*/
